* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: 'Noto Sans', sans-serif;
}
::-webkit-scrollbar {
display:none;
}

body{
  min-width: 320px;
}
a {
  text-decoration: none;
}
.navi-menu a:hover {
  color : #448AFF;
}
ul {
  list-style: none;
}

/*font style*/
.f1, .f2, .f3 {
  line-height: 1.8;
  word-break : keep-all;
}

.f1{
  font-size: 32px;
  color: #1a1a1a;
}

.f2{
  font-size: 18px;
  color: #1a1a1a;
}

.f3{
  font-size: 14px;
  color: #BDBDBD;
}
.fn{
  font-size: 18px;
  color: #1a1a1a;
  line-height: 1;
}

/*navigation*/
nav{
  display: inline-block;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  border-bottom : 1px solid ##E0E0E0;
  padding : 40px;
  top: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navi-logo{
  display: inline-block;
}
.navi-logo-img{
  width: 50px;
  height: 50px;
}
.navi-menu{
  display: inline-flex;
  float: right;
  justify-content: space-around;
}

/* 네비게이션 높이값에 메뉴의 높이와 라인높이를 맞춰준다*/
.navi-menu li{
  line-height: 42px;
  padding: 0 28px;
}

.active{
  color: #82B1FF;
}

/*어바웃 부분*/
.about-row{
  display: block;
  padding :200px 0;
}
.about-column{
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}
.about-entry{
  margin: auto;
  padding: 3rem 2rem 0 2rem;
}
.about-contents{
  display: block;
  height: auto;
  padding: 20px;
}


@media (max-width: 768px){
  nav .navi-logo
   {
    display: block;
  }
   ul.navi-menu {
     float: left;
     margin: 20px 0 0 0;
   }
   ul.navi-menu li {
     padding: 0 28px 0 0;
   }

}


/*포스팅 리스트 부분*/
.container{
  display: block;
  padding :120px 0;
}

.post{
  max-width: 768px;
  margin: auto;
  box-sizing: border-box;
}

.blog-post{
  display: block;
}

.post-item{
  display: block;
  height: auto;
  padding: 4rem 2rem 0 2rem;
}
.post-date{
  display: block;
  margin-bottom: 12px;
}
.post-title{
  display: block;
  line-height: 1.2;
  margin-bottom: 12px;
}
.post-subtitle{
  display: block;
  margin-bottom: 20px;
}
.post-line{
  background-color: #ECEFF1;
  height: 1px;
  width: 100%;
  margin-top: 10%;
}
.contents-margin{
  margin-bottom:2rem;
}

@media (max-width: 768px){
  .container{
    padding-top: 160px
  }
}
.post-content{
  display: block;
  height: auto;
  padding: 40px 0;
}

.content-img {
  max-width: 768px;
  height: auto;
  padding: 16px 0;
}
.content-img img{
  width: 100%;
  margin-top:4px;
}

.content-img-info{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px){
  .post-content{
    padding: 40px;
  }

}

/*푸터*/
footer {
  width: auto;
  background-color: #fafbfc;
}

.footer-content{
  max-width: 768px;
  margin: auto;
  box-sizing: border-box;
  padding: 60px;
  color: #757575;
}
